[id^="bivariate-svg-"] {
    user-select: none;
}

.bivar-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.selection-dot {
    fill: steelblue !important;
}

.non-selection-dot {
    fill: white;
}

.hidden-dot {
    fill: #ddd;
    stroke: #ddd;
}

.potential-dot {
    fill: orange;
    stroke-dasharray: 2, 2;
}