#plot-container svg {
    user-select: none;
}

/* Entity dots */
.entity-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.selected-entity-dot {
    fill: steelblue;
}

.unselected-entity-dot {
    fill: white;
}

.hidden-entity-dot {
    fill: #ddd;
    stroke: #ddd;
}

/* Entity paths */
.entity-path {
    fill: none;
    stroke-width: 1;
    stroke-opacity: 0.6;
}

.potential-connection {
    stroke-dasharray: 5,5;
    stroke: orange;
    stroke-width: 2;
    stroke-opacity: 1;
}

.brush-non-selection {
    stroke: black;
}

.brush-selection {
    stroke: steelblue;
    stroke-width: 2;
    stroke-opacity: 1;
}

.hidden-selection {
    stroke: #ddd;
}

/* Axis Boundaries */
.solid{
    stroke:solid;
 }
 
 .dashed{
    stroke-dasharray: 5,5; 
 }

 .selection-count {
    font-size: 12px;
    fill: #666;
    pointer-events: none;
}

.original-range {
    stroke-dasharray: 4;
    opacity: 0.6;
}

.axis-handle rect{
    cursor: row-resize;
    opacity: 0.5;
    fill: lightcoral;
}

.axis-handle rect:hover {
    opacity: 1;
}