[id^="univariate-svg-"] {
    user-select: none;
}

.fill-grid-cell {
    fill: #ccc;
    stroke: black;
    stroke-width: 1;
}

.non-fill-grid-cell {
    fill: transparent;
    stroke: black;
    stroke-width: 1;
}

.non-fill-grid-cell:hover {
    fill: #dd4d37;
}

.highlight-grid-cell {
    fill: steelblue !important;
}

.complete-entity-cell {
    fill: lightblue;
    stroke: black;
    stroke-width: 1;
}